__pycache__/*
.venv-win/*
.vscode/*
tempCodeRunnerFile.*

time_planner_backup.db
time_planner_logged_activities.csv

TimePlanner_cat2Clockify_tags.csv
TimePlanner2Clockify.ini

.bkp/*
clockify-api-tests.http
